.main_overview {
    background: #f2f3f7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .over_content {
        width: 100%;
        height: 100vh;
        padding: 1rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 30px;


        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            display: block;
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #00caef;
        }

        .tile_main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            @media screen and (max-width: 990px) {
                display: flex;
                flex-direction: column;

            }

            .rank {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .ran {
                    background: white;
                    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 19px;
                    line-height: 45px;
                    padding: 1rem;
                    color: black;
                    border-radius: 5px;
                }

                .cards {
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    width: 100%;

                    @media screen and (max-width: 990px) {
                        justify-content: center;

                    }

                    @media screen and (max-width: 600px) {
                        display: flex;
                        flex-direction: column;

                    }


                }

                .line_chart {
                    width: 100%;
                    background-color: white;
                    height: 350px;
                    display: flex;
                    padding-right: 60px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    border-radius: 5px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    @media screen and (max-width: 990px) {
                        height: unset;
                        padding: 40px;

                    }

                    @media screen and (max-width: 600px) {

                        padding: 20px;

                    }

                    .recharts-cartesian-axis-ticks {
                        font-size: 9px;
                    }

                    .recharts-cartesian-axis {
                        font-size: 9px;
                    }

                    .recharts-legend-wrapper {
                        width: 100% !important;

                        @media screen and (max-width: 600px) {
                            display: none !important;

                        }

                    }

                    .recharts-default-legend {
                        justify-content: center;
                        display: flex;
                        width: 100%;
                        align-items: center;
                    }

                    .recharts-surface {

                        @media screen and (max-width: 990px) {
                            height: 100%;
                            width: 100%;

                        }

                    }


                    .title {
                        font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 19px;
                        line-height: 45px;
                        padding-left: 20px;
                        color: black;
                    }

                    .recharts-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100% !important;
                        height: unset !important;
                    }
                }
            }

            .goog {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .ana {
                    background: white;
                    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 19px;
                    line-height: 45px;
                    padding: 1rem;
                    color: black;
                    border-radius: 5px;
                }

                .donut {
                    width: 100%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 30px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border-radius: 5px;

                    .donutchart-innertext {
                        font-size: 30px !important;
                        font-weight: bold !important;

                        @media screen and (max-width: 990px) {
                            font-size: 20px !important;

                        }

                    }

                    .donutchart-legend {
                        font-size: 10px;
                    }

                    .donutchart {
                        width: 72% !important;
                        height: 320px !important;

                        @media screen and (max-width: 990px) {
                            height: unset !important;
                            width: 100% !important;

                        }
                    }
                }

                .cards {
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    width: 100%;

                    @media screen and (max-width: 990px) {
                        justify-content: center;

                    }

                    @media screen and (max-width: 600px) {
                        display: flex;
                        flex-direction: column;

                    }

                }
            }
        }

        .tile_below {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;

            @media screen and (max-width: 990px) {
                grid-template-columns: repeat(2, 1fr);

            }

            @media screen and (max-width: 600px) {
                display: flex;
                flex-direction: column;

            }

            .tile_1 {
                display: flex;
                flex-direction: column;
                gap: 1rem;



                .title {
                    background: white;
                    font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 19px;
                    line-height: 45px;
                    border-radius: 5px;
                    padding: 1rem;
                    color: black;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
    }

}