.progressbarchart_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 20px;

    .title {
        font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #2f3743;
        text-align: center;
    }

    .bars {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 8px;
        overflow: scroll;
        height: 287px;

        .bar {
            display: flex;
            gap: 13px;

            .MuiLinearProgress-bar {
                background-color: #259e55 !important;
            }

            .MuiLinearProgress-colorPrimary {
                width: 365px !important;
            }

            .bar_title {
                font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 110%;
                color: #606c80;
            }

            .bar_percent {
                font-family: sofia-pro, Roboto, Helvetica, Arial, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 110%;
                color: #606c80;
            }
        }
    }
}