.top_bar {
    height: 100vh;
    overflow: hidden;

    @media(max-width:1200px) {

        width: 100%;
    }

    .main_route {
        height: calc(100vh - 91px);
        overflow: scroll;

        @media(max-width:1200px) {

            width: 100%;
        }
    }

}